**1. What exactly is ''[ ]''?**

In Python "[ ]" is an empty list. An empty list is a list that contains no elements, and it is represented by square brackets with nothing inside them

**2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)**

In [4]:
spam = [2, 4, 6, 8, 10]
spam[4] = 'hello'

print(spam)

[2, 4, 6, 8, 'hello']

**Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.**

**3. What is the value of spam[int(int('3' * 2) / 11)]?**

In [5]:
spam = ['a','b','c','d']
spam[int(int('3' * 2) / 11)]

'd'

The value of spam[int(int('3' * 2) / 11)] is 'd'. This is because '3' * 2 is '33', which when converted to an integer and divided by 11 gives 3. The third index in the list ['a', 'b', 'c', 'd'] is 'd'.

The expression '3' * 2 multiplies the string '3' by 2, resulting in the string '33'.

**4. What is the value of spam[-1]?**

In [6]:
 spam[-1]

'd'

The value of spam[-1] is 'd'. In Python, -1 refers to the last index in a list.

**5. What is the value of spam[:2]?**

In [7]:
spam[:2]

['a', 'b']

 The slice [:2] gets the items from the start of the list up to but not including the index 2.

**Let's pretend bacon has the list [3.14, 'cat,' 11, 'cat,' True] for the next three questions.**

**6. What is the value of bacon.index('cat')?**

In [11]:
bacon =  [3.14, 'cat', 11, 'cat', True]
bacon.index('cat')

1

 The index() method returns the first index at which a given element appears in the list.

In [12]:
for i in enumerate(bacon):
    print(i)

(0, 3.14)
(1, 'cat')
(2, 11)
(3, 'cat')
(4, True)

**7. How does bacon.append(99) change the look of the list value in bacon?**

In [17]:
bacon.append(99)
print(bacon)

[3.14, 'cat', 11, 'cat', True, 99, 99, 99, 99]

bacon.append(99) adds the integer 99 to the end of the list, making it [3.14, 'cat', 11, 'cat', True, 99].

**8. How does bacon.remove('cat') change the look of the list in bacon?**

In [18]:
bacon.remove('cat')
print(bacon)

[3.14, 11, 'cat', True, 99, 99, 99, 99]

bacon.remove('cat') removes the first occurrence of 'cat' from the list, making it [3.14, 11, 'cat', True,99]

**9. What are the list concatenation and list replication operators?**

The list concatenation operator is +, and the list replication operator is *. Concatenation combines two lists while replication repeats a list a specified number of times.

In [20]:
a = [2,4,8,'m']
b = ['q',7,3,]
c= a+b
print(c)

d= (a+b)*2
print(d)

[2, 4, 8, 'm', 'q', 7, 3]
[2, 4, 8, 'm', 'q', 7, 3, 2, 4, 8, 'm', 'q', 7, 3]

**10. What is difference between the list methods append() and insert()?**

 append() adds an element to the end of the list, while insert() allows you to specify the position where you want the element to be inserted.

In [25]:
fruits = ['apple','banana','orange']
fruits.append('grapes')
print(fruits)

['apple', 'banana', 'orange', 'grapes']

In [24]:
fruits = ['apple','banana','orange']
fruits.insert(2,'grapes')
print(fruits)

['apple', 'banana', 'grapes', 'orange']

**11. What are the two methods for removing items from a list?**

The two methods for removing items from a list are 

remove(), which removes the first occurrence of a specified value, and

pop(), which removes the item at a specified position.

In [26]:
list1 = [1,9,4,7,9]
list1.remove(9)
print(list1)

list1.pop(-1)
print(list1)

[1, 4, 7, 9]
[1, 4, 7]

**12. Describe how list values and string values are identical.**

While lists and strings are different data types in Python, there are some similarities and ways in which they can be considered similar:

Sequential Data: Both lists and strings are sequential data types, meaning they can store multiple values in a specific order. This allows you to access individual elements by their index.

Indexing: Both lists and strings support indexing, which means you can access individual elements by their position within the sequence. In Python, indexing starts from 0, so the first element of a list or string has an index of 0.

Slicing: Both lists and strings allow you to extract a portion of the sequence using slicing. Slicing allows you to create a new list or string that contains a subset of the original elements.

Iteration: You can iterate over both lists and strings using loops or other iterable methods in Python. This allows you to access each element of the sequence one by one.

and be used with the in and not in operators.

**13.What's the difference between tuples and lists?**

The difference between tuples and lists is that tuples are immutable (they cannot be changed), while lists are mutable (they can be changed).

**14. How do you type a tuple value that only contains the integer 42?**

In [29]:
tuple1 = (42,)

type(tuple1)

tuple


A tuple value that only contains the integer 42 can be typed as (42,). The trailing comma is necessary to distinguish it as a tuple.

**15. How do you get a list value's tuple form? How do you get a tuple value's list form?**

In [39]:
my_tuple = (1, 2, 3)
my_list = list(my_tuple)
print(my_list)

[1, 2, 3]

By using the tuple() function, we can convert a list to a tuple, and by using the list() function, you can convert a tuple to a list.

In [40]:
my_list = [1, 2, 3]
my_tuple = tuple(my_list)
print(my_tuple)

TypeError: 'int' object is not callable

**16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?**

Variables that contain list values actually contain references to list values. When you assign a list to a variable, the variable points to the memory location where the list is stored, rather than holding the actual list data.

In [42]:

x = [1, 2, 3]
y = x
print(y)


x.append(999)
print(y) 

# Here Variable y is also changed

[1, 2, 3]
[1, 2, 3, 999]

**17. How do you distinguish between copy.copy() and copy.deepcopy()?**

The copy.copy() and copy.deepcopy() functions are both part of the copy module in Python, but they perform different types of copying operations

copy.copy() creates a shallow copy of any iterable object. It means, that the memory location of the original object and the copied object are the same, so anyb changes made in the copied object, also reflects in the original object.

In [50]:
import copy

# Original list with nested objects
original_list = [1, [2, 3], 4]

# Shallow copy
copied_list = copy.copy(original_list)

# Modifying the nested list in the copied object
copied_list[1][0] = 5

In [51]:
print(original_list) 
print(copied_list)

[1, [5, 3], 4]
[1, [5, 3], 4]

 Since the memory location is same, the changes made in the copied
 list reflects in the original list as well.

In [47]:
import copy

# Original list with nested objects
original_list = [1, [2, 3], 4]

# Deep copy
copied_list = copy.deepcopy(original_list)

# Modifying the nested list in the copied object
copied_list[1][0] = 5

In [48]:
print(original_list) 
print(copied_list)

[1, [2, 3], 4]
[1, [5, 3], 4]

Since the memory location of the new object(copied_d_list) is not the same or linked with the original object,
any changes made will not reflect in the original object.